<h2>{{table}}: create</h2>

<form method="post">
    {{for:field:key:form}}
        <div class="form-group">
            <label for="{{key}}">{{key}}{{if:field.required}}*{{endif}}</label>
            {{if:field.type|eq("select")}}
                <select id="{{key}}" name="{{key}}" class="form-control"{{if:field.required}} required{{endif}}>
                    <option value=""></option>
                    {{for:v:k:field.values}}
                        <option value="{{k}}"{{if:k|eq(field.value)}} selected{{endif}}>{{v}}</option>
                    {{endfor}}
                </select>
            {{else}}
                <input class="form-control" id="{{key}}" name="{{key}}" type="{{field.type}}" value="{{field.value}}"{{if:field.required}} required{{endif}}>
            {{endif}}
        </div>
    {{endfor}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
