<h2>{{table}}: list columns</h2>

<table class="table">
<thead><tr>
    <th>name</th>
    <th>type</th>
    <th>length</th>
    <th>precision</th>
    <th>scale</th>
    <th>nullable</th>
    <th>pk</th>
    <th>fk</th>
</tr></thead><tbody>
{{for:column:columns}}
    <tr>
        <td><a href="{{base}}/admin/columns/{{table}}/read/{{column.name}}">{{column.name}}</a></td>
        <td>{{column.type}}</td>
        <td>{{column.length|or("-")}}</td>
        <td>{{column.precision|or("-")}}</td>
        <td>{{column.scale|or("-")}}</td>
        <td>{{column.nullable|bool("yes","-")}}</td>
        <td>{{column.pk|bool("yes","-")}}</td>
        <td>
            {{if:column.fk}}
                <a href="{{base}}/admin/columns/{{column.fk}}/list">{{column.fk}}</a>
            {{else}}
                -
            {{endif}}
        </td>
    </tr>
{{endfor}}
</tbody></table>


<p>
    <a class="btn btn-primary" href="{{base}}/admin/columns/{{table}}/create">Add column</a>
    <a class="btn btn-danger" href="{{base}}/admin/tables/delete/{{table}}">Delete table</a>
</p>