<h2>{{table}}: view</h2>
<table class="table">
<thead><tr><th>key</th><th></th><th>value</th></tr></thead>
<tbody>
    <tr>
        <td>
            name
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            &nbsp;
        </td><td>
            {{column.name}}
        </td>
    </tr>
    <tr>
        <td>
            type
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            &nbsp;
        </td><td>
            {{column.type}}
        </td>
    </tr>
    <tr>
        <td>
            length
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            &nbsp;
        </td><td>
            {{column.length|or("-")}}
        </td>
    </tr>
    <tr>
        <td>
            precision
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            &nbsp;
        </td><td>
            {{column.precision|or("-")}}
        </td>
    </tr>
    <tr>
        <td>
            scale
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            &nbsp;
        </td><td>
            {{column.scale|or("-")}}
        </td>
    </tr>
    <tr>
        <td>
            nullable
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            &nbsp;
        </td><td>
            {{column.nullable|bool("yes","-")}}
        </td>
    </tr>
    <tr>
        <td>
            pk
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            &nbsp;
        </td><td>
            {{column.pk|bool("yes","-")}}
        </td>
    </tr>
    <tr>
        <td>
            fk
        </td><td style="border-right: 2px solid #ddd; width: 40px;">
            {{if:column.fk}}
                <a class="btn btn-default btn-xs" href="{{base}}/{{column.fk}}/list"> + </a>
            {{else}}
                &nbsp;
            {{endif}}
        </td><td>
            {{column.fk}}
        </td>
    </tr>
{{endfor}}
</tbody></table>

<p>
    <a class="btn btn-primary" href="{{base}}/admin/columns/{{table}}/update/{{name}}">Edit</a>
    <a class="btn btn-danger" href="{{base}}/admin/columns/{{table}}/delete/{{name}}">Delete</a>
</p>
